<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>여러개 마커 표시하기</title>
</head>
<body>
<script id="script" type="text/javascript"
        src='//dapi.kakao.com/v2/maps/sdk.js?appkey=3018d8b0b46abd897e34e5cbd691ca18'></script>
<script th:inline="javascript">
    var markerList = JSON.parse([[${markerList}]]) || []; // JSON.parse()는 JSON 문자열을 자바스크립트 객체로 변환
    //console.log(markerList); // JSON.parse()로 변환한 객체를 콘솔에 출력
    var paths = JSON.parse([[${paths}]])||[];
    console.log(markerList);
</script>

<form>
    검색 : <input type="text" name="keyword" th:value="${param.keyword}"/> <!-- 검색어 입력 -->
    <button>변환</button> <!-- 검색 버튼 -->
</form>
<button onclick="start()">출발</button>
<div id="map"style="width:100%;height:900px;position: relative"></div> <!-- 지도가 표시될 div -->
<script th:inline="javascript"> // thymeleaf에서 자바스크립트 사용하기 위해 th:inline="javascript" 사용
    function displayMarker(locPosition, message) { // 마커를 생성하고 지도 위에 마커를 표시하는 함수입니다

        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({ // 마커를 생성하고 지도 위에 마커를 표시하는 함수입니다
            map: map, // 마커를 표시할 지도
            position: locPosition // 마커의 위치
        }); // 마커를 생성합니다

        var iwContent2 = message, // 인포윈도우에 표시할 내용
            iwRemoveable2 = true; // 삭제가 가능한지

        // 인포윈도우를 생성합니다
        var infowindow = new kakao.maps.InfoWindow({ // 인포윈도우를 생성합니다
            content: iwContent2, // 인포윈도우에 표시할 내용
            removable: iwRemoveable2 // 삭제가 가능한지
        });

        // 인포윈도우를 마커위에 표시합니다
        infowindow.open(map, marker);

        // 지도 중심좌표를 접속위치로 변경합니다
        map.setCenter(locPosition);
        console.log(locPosition, message);
    }
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = { // 지도를 생성할 때 필요한 기본 옵션

            center: new kakao.maps.LatLng(37.4388938204128, 126.675113024566), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
    if(paths.length > 0) {
        // 선을 구성하는 좌표 배열입니다. 이 좌표들을 이어서 선을 표시합니다
        var linePath = [];
        for(var point of paths) {
            linePath.push(new kakao.maps.LatLng(point.y, point.x));
        }

        // 지도에 표시할 선을 생성합니다
        var polyline = new kakao.maps.Polyline({
            path: linePath, // 선을 구성하는 좌표배열 입니다
            strokeWeight: 5, // 선의 두께 입니다
            strokeColor: 'blue', // 선의 색깔입니다
            strokeOpacity: 0.7, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
            strokeStyle: 'solid' // 선의 스타일입니다
        });
        // 지도에 선을 표시합니다
        polyline.setMap(map);
    }

    // 마커 이미지의 이미지 주소입니다
    var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";
    //console.log("total: " + markerList.length); // pharmacyList의 길이를 콘솔에 출력
    var zoomControl = new kakao.maps.ZoomControl();
    map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
    for (var i = 0; i < markerList.length; i++) { // pharmacyList의 길이만큼 반복
        try // 예외처리
        {
            var imageSize = new kakao.maps.Size(24, 35); // 마커 이미지의 크기

            // 마커 이미지를 생성합니다
            var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

            console.log(map, new kakao.maps.LatLng(markerList[i].y, markerList[i].x));
            console.log(map);
            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                map: map, // 마커를 표시할 지도
                position: new kakao.maps.LatLng(markerList[i].y, markerList[i].x), // 마커를 표시할 위치
                title: markerList[i].name, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
                image: markerImage, // 마커 이미지
                clickable: true // 마커를 클릭했을 때 지도의 클릭 이벤트가 발생하지 않도록 설정합니다
            });

            var pharmacyName = markerList[i].name; // 약국 이름
            var pharmacyTel = markerList[i].tel; // 약국 전화번호
            var pharmacyUrl = markerList[i].url; // 약국 홈페이지 주소
            //console.log(pharmacyUrl); // 약국 홈페이지 주소를 콘솔에 출력
            var iwContent = `<div style="padding:5px;">${pharmacyName}</div>
                                <br>
                                <div style="padding:5px;" id="div2">${pharmacyTel}</div>`; // 인포윈도우에 표시될 내용
            var iwRemoveable = true; // 삭제가 가능한지

            var infowindow = new kakao.maps.InfoWindow({ // 인포윈도우를 생성합니다
                content: iwContent, // 인포윈도우에 표시할 내용
                removable: iwRemoveable // 삭제가 가능한지
            });


            (function (marker, infowindow) { // 마커에 클릭이벤트를 등록합니다
                kakao.maps.event.addListener(marker, 'click', function () { // 마커를 클릭하면 인포윈도우에 장소명을 표시합니다
                    if (infowindow.getMap()) { // 현재 인포윈도우가 지도에 표시된 상태이면
                        infowindow.close(); // 인포윈도우를 숨깁니다
                    } else { // 인포윈도우가 지도에 표시되지 않은 상태이면
                        infowindow.open(map, marker); // 인포윈도우를 표시합니다
                    }
                });
            })(marker, infowindow); // 마커에 클릭이벤트를 등록합니다
        } catch (error) { // 예외처리
            console.log("Error index: " + i); // 에러가 발생한 인덱스를 콘솔에 출력
            console.log(error); // 에러를 콘솔에 출력
        }


    }
    var customOverlay;
    // 자동차 그리기!!
    if (paths[0].y != null) {
        // 커스텀 오버레이에 표시할 내용입니다
        // HTML 문자열 또는 Dom Element 입니다
        var content = '<img src="/racing-car-303766_640.png" style="width:70px;" id="car">';

        // 커스텀 오버레이가 표시될 위치입니다
        var position = new kakao.maps.LatLng(paths[0].y, paths[0].x);

        // 커스텀 오버레이를 생성합니다
        customOverlay = new kakao.maps.CustomOverlay({
            position: position,
            content: content
        });

        // 커스텀 오버레이를 지도에 표시합니다
        customOverlay.setMap(map);
    }


    function moveVehicle(point) {
        var position = new kakao.maps.LatLng(point.y, point.x);
        customOverlay.setPosition(position);
        customOverlay.setMap(map);
    }

    var interval, pointIndex;

    function start() {
        if (paths.length > 0) {
            pointIndex = 0;
            interval = setInterval(function () {
                moveVehicle(paths[pointIndex]);
                pointIndex++;
                if (pointIndex > 0){
                    var degree = -((Math.atan2((paths[pointIndex].y - paths[pointIndex - 1].y), (paths[pointIndex].x - paths[pointIndex - 1].x)) * 180) / Math.PI);

                    document.getElementById("car").style.transform =
                        `rotate(${degree}deg)`
                }
                if (pointIndex >= paths.length) {
                    clearInterval(interval);
                }
            }, 100);
        }
    }

</script>
</body>
</html>